*{
    border: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;

}

.bg{
    background-image: url("cartoons-being-ian.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    filter: blur(10px);
    z-index: -1;
    display: block;
    
}
h1{
    background-color:#1b7363cf;
    color:rgba(0,0,0,0.82);
    height: 5rem;
    line-height: 5rem;
}

.choice{
    height: 255px;
    width: 255px;
}
.choice img{
    height: 220px;
    width: 220px;
    object-fit: cover;
    border: black solid 2px;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 2rem;
}
.choice:hover{
    opacity: 0.8;
    cursor: pointer;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
    margin-top: 20px;
    margin-bottom: 10px;
}
#user-score, #comp-score{
    font-size:4rem;
}

#msg{
    background-color: #1b7363cf;
    color: black;
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    display: inline;
    cursor: pointer;
    padding: 1rem;
    border-radius: 1rem;
    text-transform: capitalize;
}
.msg-container{
    margin-top: 3rem;
}
